In [1]:
#dict
#multiple data
#Indexing
#ordered
#Mutable

In [2]:
#d={<key>:<value>,<key>:<value>}

In [3]:
d={'a':'Apple','b':'Ball','c':'cat'}
print(type(d))
print(d)
print(len(d))

<class 'dict'>
{'a': 'Apple', 'b': 'Ball', 'c': 'cat'}
3

In [4]:
d={'a':'Apple','b':'Ball','c':'cat'}
print(d['a'])
print(d['b'])

Apple
Ball

In [7]:
d={'a':'Apple','b':'Ball','c':'cat'}
d['a']='apple'
d

{'a': 'apple', 'b': 'Ball', 'c': 'cat'}

In [8]:
d={}
#d=dict
d['a']='Apple'
d['b']='Ball'
d

{'a': 'Apple', 'b': 'Ball'}

In [9]:
d={}
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    phone=input("enter phone=")
    d[name]=phone
print(d)

enter n=2
enter name=shyam
enter phone=9087
enter name=ram
enter phone=123
{'shyam': '9087', 'ram': '123'}

In [10]:
a={'shyam': '9087', 'ram': '123'}
for i in a:
    print(i)

shyam
ram

In [11]:
a={'shyam': '9087', 'ram': '123'}
for i in a.values():
    print(i)

9087
123

In [12]:
a={'shyam': '9087', 'ram': '123'}
for i in a.items():
    print(i)

('shyam', '9087')
('ram', '123')

In [13]:
#del
#pop

In [14]:
a={'shyam': '9087', 'ram': '123'}
del a['ram']
a

{'shyam': '9087'}

In [17]:
a={'shyam': '9087', 'ram': '123'}
b=a.pop('ram')
print(a)
print(b)

{'shyam': '9087'}
123

In [18]:
a=[['name','Ram'],['age',34],['add','ktm']]
print(dict(a))

{'name': 'Ram', 'age': 34, 'add': 'ktm'}

In [19]:
a={'name': 'Ram', 'age': 34, 'add': 'ktm'}
list(a)

['name', 'age', 'add']

In [20]:
a={'name': 'Ram', 'age': 34, 'add': 'ktm'}
list(a.values())

['Ram', 34, 'ktm']

In [22]:
a={'name': 'Ram', 'age': 34, 'add': 'ktm'}
list(a.items())

[('name', 'Ram'), ('age', 34), ('add', 'ktm')]

In [23]:
# no + * in dictionary

In [28]:
#update()
a={'a':'Apple'}
b={'b':'Ball'}
a.update(b)
print(a)

{'a': 'Apple', 'b': 'Ball'}

In [ ]:
#list inside dictionary

In [27]:
a={'name':['Ram','Shyam'],
  'phone':['12345','45678']}
print(a)

{'name': ['Ram', 'Shyam'], 'phone': ['12345', '45678']}

In [1]:
a={'Ram':[12345,5678],
  'Hari':[567,4567]}

In [1]:
a={'name':[],'phone':[]}
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    phone=input("enter phone=")
    a['name'].append(name)
    a['phone'].append(phone)
print(a)

enter n=2
enter name=shyam
enter phone=12345
enter name=hari
enter phone=2345
{'name': ['shyam', 'hari'], 'phone': ['12345', '2345']}

In [3]:
a={'name': ['shyam', 'hari'], 'phone': ['12345', '2345']}
print(a['name'])
print(a['name'][0])

['shyam', 'hari']
shyam

In [4]:
a={'Ram':[12345,5678],
  'Hari':[567,4567]}
print(a['Ram'])

[12345, 5678]

In [6]:
#dict inside list
a=[{'name':'Ram','age':33},
  {'name':'Shyam','age':22}]
a

[{'name': 'Ram', 'age': 33}, {'name': 'Shyam', 'age': 22}]

In [7]:
len(a)
print(a[1])

{'name': 'Shyam', 'age': 22}

In [8]:
a[0]['age']

33

In [9]:
a=[]
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    age=input('enter age=')
    d={'name':name,'age':age}
    a.append(d)
print(a)

enter n=2
enter name=ram
enter age=33
enter name=shyam
enter age=44
[{'name': 'ram', 'age': '33'}, {'name': 'shyam', 'age': '44'}]

In [10]:
a[0]['name']='Rama'
a

[{'name': 'Rama', 'age': '33'}, {'name': 'shyam', 'age': '44'}]

In [11]:
a[0]['name']

'Rama'

In [12]:
#dict inside dict

In [16]:
a={'Ram':{'ntc':13455,'ncell':56789,'landline':5647},
  'Shyam':{'ncell':98765,'ntc':67890,'landline':59078}}
a

{'Ram': {'ntc': 13455, 'ncell': 56789, 'landline': 5647},
 'Shyam': {'ncell': 98765, 'ntc': 67890, 'landline': 59078}}

In [15]:
print(a['Ram']['ntc'])

13455

In [18]:
d={}
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    ntc=input("enter ntc no=")
    ncell=input("enter ncell no=")
    landline=input("enter landline no=")
    d[name]={'Ntc':ntc,'Ncell':ncell,'Landline':landline}
print(d)

enter n=2
enter name=ram
enter ntc no=234
enter ncell no=456
enter landline no=678
enter name=shyam
enter ntc no=678
enter ncell no=098
enter landline no=87665
{'ram': {'Ntc': '234', 'Ncell': '456', 'Landline': '678'}, 'shyam': {'Ntc': '678', 'Ncell': '098', 'Landline': '87665'}}