In [1]:
#python collection
#list
#tupple
#dictioonary
#set

In [2]:
##list
#-multiple and duplicate
#-indexing
#-ordered
#-mutable

In [3]:
a=[]
a=list()

In [4]:
a=["Apple","Ball","cat","Dog"]
b=[1,2,3,4,5,4]
print(type(a))

<class 'list'>

In [9]:
a=["Apple","Ball","cat","Dog","egg"]
print(a[0])
print(a[-1])
print(a[0:4])
print(a[0:5:2])
print(a[::2])

Apple
egg
['Apple', 'Ball', 'cat', 'Dog']
['Apple', 'cat', 'egg']
['Apple', 'cat', 'egg']

In [10]:
a=["Apple","Ball","cat","Dog","egg"]
a[0]="apple"#mutable
a

['apple', 'Ball', 'cat', 'Dog', 'egg']

In [11]:
a=["Apple","Ball","cat","Dog","egg"]
b=["lion","Dog"]
c=a+b
print(c)

['Apple', 'Ball', 'cat', 'Dog', 'egg', 'lion', 'Dog']

In [12]:
a=["Apple","Ball","cat","Dog","egg"]
print(a*3)

['Apple', 'Ball', 'cat', 'Dog', 'egg', 'Apple', 'Ball', 'cat', 'Dog', 'egg', 'Apple', 'Ball', 'cat', 'Dog', 'egg']

In [13]:
a=[]
b=["Apple"]
c=a+b
c+["Ball"]

['Apple', 'Ball']

In [16]:
l=[] 
n=int(input("enter n="))
for i in range(5):
    x=int(input("Enter x="))
    l=l+[x]
print(l)

enter n=3
Enter x=2
Enter x=3
Enter x=4
Enter x=5
Enter x=6
[2, 3, 4, 5, 6]

In [21]:
print("The sum of all no=",sum(l))
print("The max value =",max(l))
print("The min value =",min(l))
print("The average value=",sum(l)/n)
l.sort()
print(l)
l.reverse()
print(l)

The sum of all no= 20
The max value = 6
The min value = 2
The average value= 6.666666666666667
[2, 3, 4, 5, 6]
[6, 5, 4, 3, 2]

In [22]:
a=["Apple","Ball","Cat","cat"]
a.sort()
print(a)

['Apple,Ball', 'Cat', 'cat']

In [25]:
a=["Apple","Ball","Cat","cat"]
for i in a:
    print(i)

Apple
Ball
Cat
cat

In [28]:
a=["Apple","Ball","Cat","cat"]
if "Apple" in a:
    print("Yes")
    print(a.count("Apple"))
else:
    print("No")

Yes
1

In [30]:
#input value
#append()
#insert()
#extend()

#delete
#del
#remove()
#pop()

In [32]:
a=["Apple","Ball","Cat","cat"]
a.append("Apple2")
print(a)

['Apple', 'Ball', 'Cat', 'cat', 'Apple2']

In [37]:
a=["Apple","Ball","Cat","cat"]
a.insert(2,"Dog")
a

['Apple', 'Ball', 'Dog', 'Cat', 'cat']

In [40]:
a=["Apple","Ball","Cat","cat"]
b=[1,2,3,4]
a.extend(b)
print(a)

['Apple', 'Ball', 'Cat', 'cat', 1, 2, 3, 4]

In [46]:
a=["Apple","Ball","Cat","cat"]
del a[0:3]
a

['cat']

In [49]:
a=["Apple","Ball","Cat","cat"]
b=a.pop(0)#b=[a.pop(0)]
print(a)
print(b)

['Ball', 'Cat', 'cat']
Apple

In [50]:
a=["Apple","Ball","Cat","cat"]
a.remove("Apple")
a

['Ball', 'Cat', 'cat']

In [8]:
a=["Apple","Ball","Cat","cat"]
value=input("enter value=")
l=a.count(value)
for i in range(l):
    a.remove(value)
a

enter value=

['Apple', 'Ball', 'Cat', 'cat']

In [12]:

#list inside list
a=[[1,2,3],
  [4,5,6],
  [7,8,9]]
print(len(a))

3

In [13]:
a=[["Ram",56,"kathmandu"],
  ["shyam",67,"bhaktapur"],
  ["gita",89,"lalitpur"]]
a

[['Ram', 56, 'kathmandu'],
 ['shyam', 67, 'bhaktapur'],
 ['gita', 89, 'lalitpur']]

In [15]:
print(a[2])

['gita', 89, 'lalitpur']

In [16]:
print(a[0][0])

Ram

In [17]:
print(a[0][2])

kathmandu

In [18]:
a=[["Ram",56,"kathmandu"],
  ["shyam",67,"bhaktapur"],
  ["gita",89,"lalitpur"]]
a[0]=["ram",53,"ktm"]
a

[['ram', 53, 'ktm'], ['shyam', 67, 'bhaktapur'], ['gita', 89, 'lalitpur']]

In [19]:
a[0][0]="Ram"
a

[['Ram', 53, 'ktm'], ['shyam', 67, 'bhaktapur'], ['gita', 89, 'lalitpur']]

In [20]:
del a[0]
print(a)

[['shyam', 67, 'bhaktapur'], ['gita', 89, 'lalitpur']]

In [21]:
x=[]
n=int(input("enter the n="))
for i in range(n):
    name=input("enter name=")
    age=int(input("enter age="))
    add=input("enter add=")
    x.append([name,age,add])
print(x)

enter the n=3
enter name=shyam
enter age=34
enter add=asd
enter name=hari
enter age=22
enter add=qwe
enter name=asd
enter age=67
enter add=fgh
[['shyam', 34, 'asd'], ['hari', 22, 'qwe'], ['asd', 67, 'fgh']]

In [27]:
a=[['shyam', 34, 'ktm'], ['hari', 22, 'bkt'], ['asd', 67, 'lalitpur']]
value=input("enter value=")
for i in a:
   # print(i)
    if value in i:
        print(i)

enter value=hari
['hari', 22, 'bkt']

In [30]:
a=[['shyam', 34, 'ktm'], ['hari', 22, 'bkt'], ['Shyam', 67, 'lalitpur']]
value=input("enter value=")
for i in a:
   # print(i)
    if value in (i):
        print(i)

enter value=shyam
['shyam', 34, 'ktm']

In [35]:
a=[['shyam', 34, 'ktm'], ['hari', 22, 'bkt'], ['Shyam', 67, 'lalitpur']]
value=input("enter value=").lower()
for i in a:
   # print(i)
    if value==i[0].lower(): 
        print(i)

enter value=shyam
['shyam', 34, 'ktm']
['Shyam', 67, 'lalitpur']

In [36]:
#wap to create a matrix
#r=?
#c=?
#x=?

In [37]:
bill="Momo 200 3 600\nCoke 300 2 600"
print(bill)

Momo 200 3 600
Coke 300 2 600

In [3]:
rows = int(input("Enter the number of rows: "))
cols = int(input("Enter the number of columns: "))

matrix = []
for i in range(rows):
    row = []
    for j in range(cols):
        element = int(input(f"Enter element at ({i+1},{j+1}): "))
        row.append(element)
    matrix.append(row)

print(matrix)

Enter the number of rows: 2
Enter the number of columns: 3
Enter element at (1,1): 1
Enter element at (1,2): 2
Enter element at (1,3): 3
Enter element at (2,1): 4
Enter element at (2,2): 5
Enter element at (2,3): 6
[[1, 2, 3], [4, 5, 6]]

In [4]:
r=int(input("enter r="))
c=int(input("enter c="))
y=[]
for i in range(r):
    z=[]
    for j in range(c):
        x=int(input(f"enter x= for i={i} j={j}"))
        z.append(x)
    y.append(z)
print(y)

enter r=3
enter c=3
enter x= for i=0 j=01
enter x= for i=0 j=12
enter x= for i=0 j=23
enter x= for i=1 j=04
enter x= for i=1 j=15
enter x= for i=1 j=26
enter x= for i=2 j=07
enter x= for i=2 j=18
enter x= for i=2 j=29
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
bill="momo 200 3 600\ncoke 300 2 600"
print(bill)

momo 200 3 600
coke 300 2 600

In [10]:
final=[]
list_bill=bill.split('\n')
print(list_bill)
for i in list_bill:
    final.append(i.split())
final

['momo 200 3 600', 'coke 300 2 600']

[['momo', '200', '3', '600'], ['coke', '300', '2', '600']]