In [1]:
#set
#-No indexing
#-unordered
#Multiple data
#-No duplicate data
#mutable

In [3]:
s={"Apple","Ball","Cat","Dog"}
print(s)
s

{'Dog', 'Apple', 'Ball', 'Cat'}

{'Apple', 'Ball', 'Cat', 'Dog'}

In [4]:
 print(type(s))

<class 'set'>

In [5]:
s={"Apple","Ball","Cat","Dog"}
s[0]

TypeError: 'set' object is not subscriptable

In [6]:
s={"Apple","Ball","Cat","Dog","Apple"}
s

{'Apple', 'Ball', 'Cat', 'Dog'}

In [7]:
s={}
type(s)

dict

#Add

In [8]:
s=set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
s

{'Apple', 'Ball', 'Cat'}

In [10]:
a={1,2,3,4,5}
b={6,7,8,9}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
a={1,2,3,4,5}
a.remove(3,33)
a

TypeError: set.remove() takes exactly one argument (2 given)

In [12]:
a={1,2,3,4,5}
a.replace(3,33)
a

AttributeError: 'set' object has no attribute 'replace'

In [13]:
#union
#intersection

In [14]:
a={1,2,3,4}
b={5,6,7,8}
c=a.union(b)
print(c)
print(a)
print(b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4}
{8, 5, 6, 7}

In [15]:
a={1,2,3,4,5}
b={5,6,7,8}
c=a.intersection(b)
print(c)

{5}

In [20]:
a="Hello World"
print(list(a))
print(tuple(a))
print(set(a))

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')
{'l', 'H', 'r', 'e', 'd', 'W', ' ', 'o'}

In [19]:
a=111
print(list(a))
print(tuple(a))

TypeError: 'int' object is not iterable

In [21]:
a="Apple"
b="Ant"
a1=set(a)
a2=set(b)
a1.intersection(a2)

{'A'}

In [23]:
a="Hello I m python"
b="I love python"
a1=set(a.split())
b1=set(b.split())
a1.intersection(b1)

{'I', 'python'}