In [1]:
a="hello world"
print(a[0])

h

In [2]:
a="hello world"
print(a[1])

e

In [3]:
a="hello world"
print(a[0])
print(a[0:10])
print(a[0:12:2])

h
hello worl
hlowrd

In [4]:
a="hello world"
print(a[-1])

d

In [9]:
a="hello world"
print(a[-1::-1])
print(a[::-1])

dlrow olleh
dlrow olleh

In [10]:
a="hello world"
b=a[6:]
print(b)

world

In [11]:
a="hello world"
print(len(a))

11

In [13]:
a="hello world"
n=len(a)
for i in range(n):
    print(a[i])

h
e
l
l
o

w
o
r
l
d

In [14]:
i=0
a="hello world"
n=len(a)
while i<n:
    print(a[i],end="")
    i=i+1

hello world

In [16]:

name="ram"
age=21
add='KATHMANDU'
info="hello world i m"+name+ "i m from"+add+"i m "+str(age)
print(info)

hello world i mrami m fromKATHMANDUi m 21

In [17]:
#string formatting
name="ram"
age=21
add='KATHMANDU'
info=f"hello world i m {name}. i m from {add}. i m {age}"
print(info)

hello world i m ram. i m from KATHMANDU. i m 21

In [23]:
bill=""
all_total=0
n=int(input("enter the value of n="))
for i in range(n):
    product=input("enter product name=")
    price=int(input("enter price="))
    quantity=int(input("enter quantity="))
    total=price*quantity
    all_total=all_total+total
    bill=bill+f"{product} {price} {quantity} {total}\n"
print(bill)
print("all total price=",all_total)

enter the value of n=2
enter product name=ball
enter price=1000
enter quantity=2
enter product name=bell
enter price=1200
enter quantity=3
ball 1000 2 2000
bell 1200 3 3600

all total price= 5600

In [ ]:
bill=""
all_total=0
n=int(input("enter the value of n="))
for i in range(n):
    product=input("enter product name=")
    price=int(input("enter price="))
    quantity=int(input("enter quantity="))
    total=price*quantity
    all_total=all_total+total
    row=f"{product} {price} {quantity} {total}\n"
    bill=bill+row
print(bill)
print("all total price=",all_total)

enter the value of n=3
enter product name=ball
enter price=1200
enter quantity=3
enter product name=ara
enter price=1234
enter quantity=2

In [5]:
#search
a="ram shyam sita hari"
name=input("enter name=")
if "ram "in a:
    print("yes")
    
else:
    print("no")

enter name=r
yes

In [11]:
a="ram shyam sita hari"
name=input("enter name=")
if name in a:
    print("yes",a.count(name))
else:
    print("no")

enter name=Ram
no

In [10]:
a="ram shyam sita hari"
print(a.upper())
print(a.lower())

RAM SHYAM SITA HARI
ram shyam sita hari

In [12]:
a="ram shyam sita hari".lower()
name=input("enter name=").lower()
if name in a:
    print("yes",a.count(name))
else:
    print("no")

enter name=Ram
yes 1

In [14]:
#edit delete replace
a="Ram Shyam Hari Sita Gita Ram"
print(a.replace("Ram","ram"))
print(a)

ram Shyam Hari Sita Gita ram
Ram Shyam Hari Sita Gita Ram

In [15]:
#edit delete replace
a="Ram Shyam Hari Sita Gita Ram"
print(a.replace("Ram ","ram "))
print(a)

ram Shyam Hari Sita Gita Ram
Ram Shyam Hari Sita Gita Ram

In [17]:
a="Ram Shyam Hari Sita Gita Ram"
print(a.replace("Ram "," "))
print(a)

 Shyam Hari Sita Gita Ram
Ram Shyam Hari Sita Gita Ram

In [20]:
name=input("enter name=")
physic=int(input("enter physic="))
math=int(input("enter math="))
chemistry=int(input("enter chemistry="))
english=int(input("enter english="))
nepali=int(input("enter nepali="))
total=physic+math+chemistry+english+nepali
per=total/5
if per>=80:
    grade="A"
elif per >=60:
    grade="B"
elif per>=40:
    grade="c"
else:
    grade="F"
print("Total",total)
print("Per",per)
print("Grade",grade)

enter name=asd
enter physic=1
enter math=2
enter chemistry=3
enter english=4
enter nepali=5
Total 15
Per 3.0
Grade F

In [3]:
i=0
result=""
n=int(input("enter n="))
while i<n:
    name=input("enter name=")
    physic=int(input("enter physic="))
    math=int(input("enter math="))
    chemistry=int(input("enter chemistry="))
    english=int(input("enter english="))
    nepali=int(input("enter nepali="))
    total=physic+math+chemistry+english+nepali
    per=total/5
    if per>=80:
        grade="A"
    elif per >=60:
        grade="B"
    elif per>=40:
        grade="c"
    else:
        grade="F"
    result=result+f"{name}{physic}{chemistry}{math}{english}{nepali}{total}{grade}{per}\n"
    i=i+1
print(result)

enter n=2
enter name=ram
enter physic=1
enter math=2
enter chemistry=3
enter english=4
enter nepali=5
enter name=shyam
enter physic=5
enter math=6
enter chemistry=7
enter english=8
enter nepali=9
ram1324515F3.0
shyam5768935F7.0

a=input("enter number=")
b=a[::-1]
if a==b:
    print("this is palindrome")
else:
    print("this is not")

In [2]:
a=input("enter number=")
b=a[::-1]
if a==b:
    print("this is palindrome")
else:
    print("this is not")

enter number=123
this is not

In [5]:
x=int(input("enter x="))
for i in range(2,x):
    if x%i==0:
        print("composite")
        break
else:
    print("prime")

prime

In [6]:
x=int(input("enter x="))
if x>=2:
    for i in range(2,x):
        if x%i==0:
            print("composite")
            break
    else:
        print("prime")
else:
    print("the should>=2")

enter x=45
composite